@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Lora:ital@1&family=DM+Sans:wght@400;500&display=swap');

:root {
  --amarelo: #F5E642;
  --preto: #1C1C1C;
  --branco: #ffffff;
  --verde: #A8C5A0;
  --rosa: #F2B8C6;
  --roxo: #C9B8E8;
  --creme: #FAF9F0;
  --azul: #54b2ff;
  --vermelho:#ff5454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--branco);
  color: var(--preto);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}